.flex{ display: flex; justify-content: center;background: #a8a6a3;
background: radial-gradient(circle,rgba(168, 166, 163, 0.57) 0%, rgba(171, 167, 170, 1) 0%); ;}
h1{font-size: 50px; font-style: oblique; border-bottom: 5px solid black;} 

.flexo{display: flex; flex-direction: column-reverse; align-items: center; ;}
.lutten {
 background-image: url(".//GettyImages-957016116-web.jpg");
 background-color: #cccccc;
   background-attachment: fixed;
    background-position: center;
  
}
.bt{border: 5px solid black; margin: 5px; padding: 5px; background-color: red; color: aliceblue; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; text-align: center; border-radius: 50%; align-content: center;}
.cikk{color: aliceblue; text-align: center;}
.hatter{background-color: darkslategray; width: fit-content; align-content: center;}
li{color: aliceblue;}
 #content {
      display: none; /* Initially hidden */
      padding: 10px;
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      width: fit-content;
      background-color: darkslategray;
      max-width: 1200px;
      align-items: center;
    }
    #toggleButton{
        border: 5px solid black;
        background-color: darkslategray;
        font-weight: 00;
        color: aliceblue;
       
      
    }
    .btbox{
        border: 2px solid white;
        width: fit-content;
       text-align: center;
       
    }
  .flex1{ display: flex; justify-content: center;background: #a8a6a3;
background: radial-gradient(circle,rgba(168, 166, 163, 0.57) 0%, rgba(171, 167, 170, 1) 28%, rgba(201, 85, 85, 1) 75%, rgba(201, 187, 85, 0.57) 54%, rgba(201, 85, 85, 1) 97%, rgba(100, 201, 85, 0.48) 6%);}
.poker{
  background-image: url("./poker-texas-karty-zasady-e1646493387250.jpg");
 background-color: #cccccc;
   background-attachment: fixed;
    background-position: center;
}
.pokerg{width: fit-content;height: fit-content; background-color: black;}
.comment-section {
      max-width: 600px;
      margin: 0 auto;
      color: aliceblue;
    }
    .comment-form {
      margin-bottom: 20px;
    }
    .comment-form label {
      display: block;
      margin-bottom: 5px;
    }
    .comment-form textarea {
      width: 100%;
      height: 100px;
      margin-bottom: 10px;
    }
    .comment-form input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
    }
    .comment-form input[type="checkbox"] {
      margin-right: 5px;
    }
    .comments-display {
      border-top: 1px solid #ccc;
      padding-top: 10px;
    }
    .comment {
      margin-bottom: 15px;
    }
    